.beautifier {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  font-size: calc(13px + 2vmin);
}

.header{
  color: rgb(221, 214, 214);
  text-align: center;
  letter-spacing: 0.01em;
  box-sizing: inherit;
  padding:0;
  margin:0;
}

.header-desc{
  text-align: center;
  display: table-cell;
  color: #9bf8fffa;
  font-size: 22px;
  letter-spacing: 0.01em;
  font-weight: 500;
  height:10%;
  margin:0;
}
